<html><head>





    <link rel="stylesheet" media="all" href="/assets/application-16605eadccf37c23d1fa922dd614f45b9f2cf25723e2e4032f1975b02ea7d11f.css" data-turbolinks-track="reload">
    <script src="/assets/application-3ac47b8571e58aab844e8d0a988f0f55d8a16c1a75953470343f79cf1bec8528.js" data-turbolinks-track="reload"></script>
  <title>Bookers2Ver2</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="Rsusx3m+/8XZ0i9T5ZqM3VN7demJTUdw3sd9pdPdO+XmIt/FJAkh6qsylNtwrqLT70XyXsGO2kkMS+YCWTNZsg=="><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
  <body>

      <main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
</div>
      </main>



</body></html>